.page-footer{
  margin-bottom: 7px;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  padding: 20px;
}

.ul-footer{
  list-style:none;
  padding-inline-start: 0px;
}
