.btn-sites{
  width: 100%;
  border-radius: 20px;
  background: #DC1C78;
  border: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-primary:hover{
  background: rgba(0,0,0,0.8) !important;
  color: #DC1C78;
}

.table{
  border-radius: 20px !important;
  color: #FFF;
  border: 0px !important;
  background: rgba(0,0,0,0.8) !important;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
}

.table td, .table th{
  border-bottom: 0px solid #dee2e6;
}

.thead{
  color: #DC1C78;
}
