.background-mp4{
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  z-index: -100;

  background-size: cover;
}

.transparent{
  background: rgba(0, 0, 0, 0.7);
}

a{
  color: #DC1C78;
}

a:target, a:focus{
  color: #DC1C78;
}
