.precard{
  padding: 10px;
}

.card{
  border-radius: 20px;
}

img{
  border-radius: 20px;
}

.card-header{
  border-bottom: 1px solid #DC1C78;
}

.list-group-item{
  background: rgba(0, 0, 0, 0);
  border: 0px;
}

a{
  text-decoration: none !important;
}
